<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app.explorenepal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/explorenepal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TunisiaTourism">
        <activity
            android:name="com.example.app.explorenepal.ShowFestivals"
            android:exported="true" />
        <activity
            android:name="com.example.app.explorenepal.FestivalsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.app.explorenepal.Dining.DiningList"
            android:exported="true" />
        <activity
            android:name="com.example.app.explorenepal.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.app.explorenepal.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.example.app.explorenepal.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.app.explorenepal.ExploreActivity"
            android:exported="true" />
        <activity
            android:name="com.example.app.explorenepal.CityDetails"
            android:exported="false" />
        <activity
            android:name="com.example.app.explorenepal.AllTourDestinations.DestinationsList"
            android:exported="false" />
        <activity
            android:name="com.example.app.explorenepal.WelcomingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>